<% 
if(typeof votereward != 'undefined'){ 
if(votereward != false){
%>
<table class="ranking-table">
	<thead>
	<tr class="main-tr">
		<th style="text-align:center;">#</th>
		<th style="text-align:center;"><%= App.lc.translate('Named').fetch() %></th>
		<th style="text-align:center;"><%= App.lc.translate('Total Votes').fetch() %></th>
		<th style="text-align:center;" class="end"><%= App.lc.translate('Last Time Voted').fetch() %></th>
	</tr>
	<tbody>
	<% for(var i=0; i< votereward.length; i++) { %>
	<tr>
		<td style="text-align:center;"><%= i+1 %> <% if(config.voter.display_country == 1) { %><span class="f16"><span class="flag <%= votereward[i].country %>"></span></span><% } %></td>
		<td><a href="<%= base_url %>character/<%= votereward[i].name_hex %>/<%= server_selected %>"><%= votereward[i].name %></a></td>
		<td style="text-align:center;"><%= votereward[i].totalvotes %></td>
		<td class="end"><%= votereward[i].lastvote %></td>
	</tr>  
	<% } %>
	</tbody>
</table>  
<% if(typeof cache_time != 'undefined'){ %>
<div style="text-align: right;padding-top: 15px;"><%= cache_time %></div>
<% } %>
<% 
}
else{
%>
<div style="padding: 0 30px 0px 50px;"><div class="i_note"><%= App.lc.translate('No Players Found').fetch() %></div></div>
<%
}
} 
%>