<% 
if(typeof hunt != 'undefined'){ 
if(hunt != false){
%>
<script type="text/javascript">
$(document).ready(function(){
	$('#hunt').on("click", function(e){
		e.preventDefault();
		var server = $(this).data('server');
		App.populateRanking('hunt', server);
	});
	$('#huntg').on("click", function(e){
		e.preventDefault();
		var server = $(this).data('server');
		App.populateRanking('huntg', server);
	});
});	
</script>
<div id="rank_by_type" style="text-align:center;">
<a href="javascript:;" class="custom_button" id="hunt" data-server="<%= server_selected %>"><%= App.lc.translate('Players').fetch() %></a>
<a href="javascript:;" class="custom_button" id="huntg" data-server="<%= server_selected %>"><%= App.lc.translate('Guilds').fetch() %></a>
<br /><br />				
<div style="margin-top: -12px;">Season ends in: <small id="countdownHuntpoints"></small></div>
<script type="text/javascript">
	$(document).ready(function () {
		App.castleSiegeCountDown("countdownHuntpoints", <%= endt %>, <%= t %>);
	});
</script>
</div>
<table class="ranking-table">
	<thead>
	<tr class="main-tr">
		<th style="text-align:center;">#</th>
		<th><%= App.lc.translate('Name').fetch() %></th>
		<th><%= App.lc.translate('Class').fetch() %></th>
		<th style="text-align:center;"><%= App.lc.translate('LvL').fetch() %></th>
		<th style="text-align:center;"><%= App.lc.translate('Points').fetch() %></th>	
	</tr>
	</thead>
	<tbody>
	<% for(var i=0; i<hunt.length; i++) { %>
	<tr>
		<td style="text-align:center;"><%= i+1 %></td>
		<td><% if(hunt[i].g_name != '') { %><img style="width: 22px;height: 22px;border-radius: 50%;" src="<%= base_url %>rankings/get_mark/<%= hunt[i].g_mark %>/30" title="<%= hunt[i].g_name %>"><% } %> <a href="<%= base_url %>character/<%= hunt[i].name_hex %>/<%= server_selected %>"><%= hunt[i].name %></a> </td>
		<td><%= hunt[i].class %></td>
		<td style="text-align:center;"><%= hunt[i].level %></td>
		
		<td style="text-align:center;"><%= hunt[i].point %></td>
	</tr>  
	<% } %>
	</tbody>
</table>  
<% if(typeof cache_time != 'undefined'){ %>
<div style="text-align: right;padding-top: 15px;font-size:10px;color:brown;"><%= cache_time %></div>
<% } %>
<% 
}
else{
%>
<div style="padding: 0 30px 0px 50px;"><div class="i_note"><%= App.lc.translate('No Players Found').fetch() %></div></div>
<%
}
} 
%>

