<% 
if(typeof guilds != 'undefined'){ 
if(guilds != false){
%>

<table class="ranking-table">
	<thead>
	<tr class="main-tr">
		<th style="text-align:center;">#</th>
		<th style="text-align:center;"><%= App.lc.translate('Name').fetch() %></th>
		<th style="text-align:center;"><%= App.lc.translate('Master').fetch() %></th>
		<th style="text-align:center;"><%= App.lc.translate('Score').fetch() %></th>
		<% if(config.guild.order_by == 1){ %><td style="text-align:center;"><%= App.lc.translate('Total ML').fetch() %></td><% } %>
		<% if(config.guild.order_by == 2){ %><td style="text-align:center;"><%= App.lc.translate('Total Res').fetch() %></td><% } %>
		<% if(config.guild.order_by == 3){ %><td style="text-align:center;"><%= App.lc.translate('Total Gres').fetch() %></td><% } %>
		<% if(config.guild.order_by == 4){ %><td style="text-align:center;"><%= App.lc.translate('Total Level').fetch() %></td><% } %>
		<th style="text-align:center;"><%= App.lc.translate('Member Count').fetch() %></th>
		<th style="text-align:center;" class="end"><%= App.lc.translate('Guild Mark').fetch() %></th>
	</tr>
	</thead>
	<tbody>
	<% for(var i=0; i<guilds.length; i++) { %>
	<tr>
		<td style="text-align:center;"><%= i+1 %></td>
		<td><a href="<%= base_url %>guild/<%= guilds[i].name_hex %>/<%= server_selected %>"><%= guilds[i].name %></a></td>
		<td><a href="<%= base_url %>character/<%= guilds[i].master_hex %>/<%= server_selected %>"><%= guilds[i].master %></a></td>
		<td style="text-align:center;"><%= guilds[i].score %></td>
		<% if(config.guild.order_by == 1){ %><td style="text-align:center;"><%= guilds[i].mlevel %></td><% } %>
		<% if(config.guild.order_by == 2){ %><td style="text-align:center;"><%= guilds[i].resets %></td><% } %>
		<% if(config.guild.order_by == 3){ %><td style="text-align:center;"><%= guilds[i].gresets %></td><% } %>
		<% if(config.guild.order_by == 4){ %><td style="text-align:center;"><%= guilds[i].clevel %></td><% } %>
		<td style="text-align:center;"><%= guilds[i].members %></td>
		<td style="text-align:center;" class="end"><img src="<%= base_url %>rankings/get_mark/<%= guilds[i].mark %>" style="border: 0;" /></td>
	</tr>  
	<% } %>
	</tbody>
</table>  
<% if(typeof cache_time != 'undefined'){ %>
<div style="text-align: right;padding-top: 15px;"><%= cache_time %></div>
<% } %>
<% 
}
else{
%>
<div style="padding: 0 30px 0px 50px;"><div class="i_note"><%= App.lc.translate('No Guilds Found').fetch() %></div></div>
<%
}
} 
%>
<div style="text-align:left;">
	<h2 style="padding: 5px 5px 0px 2px;letter-spacing: 1px;font-size: 20px;"><%= App.lc.translate('Search Guild').fetch() %></h2>
	<div>
	<form method="post" action="<%= base_url %>rankings/search/<%= server_selected %>">
		<table>
			<tr>
				<td>
					<input type="text" id="name" name="name" value="" />
				</td>
				<td>
					<button type="submit" class="custom_button"><%= App.lc.translate('Submit').fetch() %></button>
				</td>
			</tr>
		</table>
	</form>
	</div>
</div>