<% 
if(typeof ds != 'undefined'){ 
if(ds != false){
%>
<table class="sidebar_rank" border="0">
	<tr>
	<th>#</th>
	<th><%= App.lc.translate('Name').fetch() %></th>
	<th><%= App.lc.translate('Score').fetch() %></th>
	</tr>
	<% for(var i=0; i<ds.length; i++) { %>
	<tr>
	<td><%= i+1 %>.</td>
	<td><a href="<%= base_url %>character/<%= ds[i].name_hex %>/<%= server_selected %>"><%= ds[i].name %></a></td>
	<td><%= ds[i].score %></td>
	</tr>
	<% } %>
</table>
<%  
}
else{
%>
<div class="i_note"><%= App.lc.translate('No Players Found').fetch() %></div>
<%
}
} 
%>